<h2>Input file: <a href="<%= params[:input_file_url]%>"><%= params[:input_file_url]%></a></h2>
<h2>Edited Input file: <a href="<%= params[:edited_input_file_url]%>"><%= params[:edited_input_file_url]%></a></h2>
<h2>Output BBDD existe: <a href="<%= params[:output_BBDD_rankmi_file_url]%>"><%= params[:output_BBDD_rankmi_file_url]%></a></h2>
<h2>Output no existe bdd: <a href="<%= params[:output_no_existe_BBDD_file_url]%>"><%= params[:output_no_existe_BBDD_file_url]%></a></h2>