<h2>Generate Template input: <a href="<%= params["generate_template_input_url"]%>"><%= params["generate_template_input_url"]%></a></h2>
<h2>analysis input: <a href="<%= params["analysis_input_url"]%>"><%= params["analysis_input_url"]%></a></h2>
<h2>Metas Bcp: <a href="<%= params["metas_bcp_url"]%>"><%= params["metas_bcp_url"]%></a></h2>
<h2>Metas BCP con info rankmi y tipo: <a href="<%= params["metas_bcp_con_info_url"]%>"><%= params["metas_bcp_con_info_url"]%></a></h2>
<h2>Metas a borar: <a href="<%= params["metas_a_borar_url"]%>"><%= params["metas_a_borar_url"]%></a></h2>
<h2>Análisis accione: <a href="<%= params["analisis_accione_url"]%>"><%= params["analisis_accione_url"]%></a></h2>
<h2>Metas a crear: <a href="<%= params["metas_a_crear_url"]%>"><%= params["metas_a_crear_url"]%></a></h2>
<h2>Metas a actualiser: <a href="<%= params["metas_a_actualizer_url"]%>"><%= params["metas_a_actualizer_url"]%></a></h2>